.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.project-card {
    background-color: var(--color-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    cursor: default;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-links a {
    color: var(--color-text-secondary);
}

.project-links a:hover {
    color: var(--color-accent);
}

.project-title {
    color: var(--color-text-primary);
    font-size: 22px;
    margin-bottom: 10px;
}

.project-description {
    color: var(--color-text-secondary);
    font-size: 17px;
    margin-bottom: 20px;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.project-tech-list li {
    font-family: var(--font-mono);
    font-size: 12px;
    color: var(--color-text-secondary);
    margin-right: 15px;
}